*{
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;

}

h1, h2{
	font-family: 'MedievalSharp', cursive;
	color: #ad2222;
}

header{
	height: 20vh;
	background-color: #225CB5;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
header p{

}

h2{
	margin-bottom: 2vh;
	text-align: center;
}

nav{
	text-decoration: none;
	position: fixed;
	background-color: #7487A8;
	overflow: hidden;
}

ul{
	list-style-type: none;
	text-decoration: none;
	background-color: #7487A8;
	width:13vw;
	height: 50vh;
	margin: 0;
	
}

li{
	padding: 0.4vw;
	margin: 0.7vw;

}

a, a:hover, a:visited, a:active
{
	color:#eddcdc;
	text-decoration:none;
}


/* Style the active class (and buttons on mouse-over) */
/*a:active{

	background-color: red;
}*/

main{
	display: flex;
	flex-direction: column;
	background-color: #7487A8;
}

#hugues{
	float: left;
	width: 15vw;
}

#aug{
	float: left;
	width: 15vw;
}

#luis{
	float: left;
	width: 15vw;
}

#phil{
	float: left;
	width: 15vw;
}

.portrait{
	width: 35vw;
}

section{
	width: 100%;
}

article{
	width: 70%;
	margin: 1.1vw;
	padding-left: 1.1vw;
	background-color: #FADE8B;
	margin-left: 15vw;
}

p{
	text-indent: 2rem;
	font-family: 'Lato', sans-serif;
}

footer p{
	text-indent: 0;
	
}


/*diaporama*/



/*#origines{
	
}

#capet{
	
}

#auguste{
	
}

#louis{
	
}
#lebel{
	
}*/

footer{
	display: flex;
	text-align: center;
	background-color: #7487A8;
}


* {box-sizing:border-box}

div img{
	height: 70vh;
	width: 40vw;
	margin-left: 60px;
}



/* Slideshow container */
.slideshow-container,.slideshow-container2 {
  max-width: 50vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media screen and (max-width: 1180px){

	nav{
	text-decoration: none;
	
	position: fixed;
	background-color: #7487A8;
	overflow: hidden;
	bottom: 0;
	width: 100vw;
	
}

#diapo2{
	height: 30vh;
	width: 30vh;
}

ul{
	list-style-type: none;
	text-decoration: none;
	background-color: #7487A8;
	width:auto;
	height: auto;
	margin: 0;
	text-align: center;
	
}

li{
	padding: 0.4vw;
	margin: 0.7vw;
	display: inline;

}
a, a:hover, a:visited, a:active
{
	color:#eddcdc;
	text-decoration:none;
}

footer{
	padding-bottom: 5vh;
}
div img{
	height: 30vh;
	width: 30vw;
/*	padding-left: 118px;*/
	margin-left: 70px;
}
}

@media screen and (max-width: 699px){

	div img{
	height: 20vh;
	width: 30vw;
/*	padding-left: 118px;
*/	margin-left: 40px;
}
}