*{
    margin: 0;
    padding: O;
    background-color: #EDF1F0;
}

header{
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: grey;
  position: fixed;
  width: 100vw;
  padding: 3vh 0 3vh 0;
  bottom: 0;
  
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  background-color: grey;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 3vh 3vw;
  text-decoration: none;
  font-size: 15px;
  display: inline;
  background-color: grey;
  
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



/* Style the active link (or home/logo) */
.active {
  background-color: #333;
  color: white;
} 


article{
  
    padding-left: 2vw;
    margin-bottom: 10vh;
}

h2{
    text-align: center;
    text-shadow: 2px 4px 4px rgb(117, 112, 112);
    padding-bottom: 5vh;
}



