* {box-sizing:border-box;
   margin: 0;
   padding: 0;
  background-color: #EDF1F0;
}

.topnav {
  overflow: hidden;
  background-color: grey;
  position: fixed;
  width: 100vw;
  padding: 3vh 0 3vh 0;
  bottom: 0;
}

header, h2{
  text-align: center;
}


/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  background-color: grey;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 3vh 3vw;
  text-decoration: none;
  font-size: 15px;
  display: inline;
  background-color: grey;
  
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



/* Style the active link (or home/logo) */
.active {
  background-color: #333;
  color: white;
} 

#formulaire{
  display: flex;
  justify-content: center;
}

input{
  border-radius: 8%;
  box-shadow: 6px 7px 7px grey;
}
.esp{
  margin: 1vh 0 1vh 0;
  
}

#envoie{
  padding: 3% 10% 3% 10%;
  margin-bottom: 6vh;
}

#diapo{
  padding-top: 5vh;
}

div img{
	height: 70vh;
	width: 40vw;
	margin-left: 60px;
}

/* Slideshow container */
.slideshow-container,.slideshow-container2 {
  max-width: 50vw;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 1180px){
    div img{
	height: 30vh;
	width: 30vw;
/*	padding-left: 118px;*/
	margin-left: 70px;
}
}

@media screen and (max-width: 699px){

	div img{
	height: 20vh;
	width: 30vw;
/*	padding-left: 118px;
*/	margin-left: 40px;
}
}